# supportLegal - Environment Configuration

# LLM Keys
GEMINI_API_KEY=
HUGGINGFACE_TOKEN=

# Database
QDRANT_URL=http://localhost:6333
SQLITE_DB_PATH=legal_poc.db

# Settings
EMBEDDING_MODEL_NAME=keepitreal/vietnamese-sbert
LOG_LEVEL=INFO
